@import "tailwindcss";

@theme {
  --color-deepBlue: #0033a0;
  --color-skyBlue: #87ceeb;
  --color-lightBlue: #add8e6;
  --color-white: #ffffff;
  --color-darkGray: #333333;
  --color-mediumGray: #f5f5f5;

  --color-primaryBlack-800: #0f141a;
  --color-primaryBlack-900: #090c10;

  /* PDD2026 Theme Colors */
  --color-pdd-light: #e8e8e8;
  --color-pdd-purple: #d87eff;
  --color-pdd-blue: #026ee6;
  --color-pdd-dark-blue: #1556b9;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility pdd2026-gradient {
  @apply from-pdd-purple to-pdd-blue bg-linear-to-r;
}

@utility pdd2026-gradient-text {
  @apply pdd2026-gradient bg-clip-text text-transparent;
}

@utility pdd2026-gradient-btn {
  @apply pdd2026-gradient hover:from-pdd-purple/90 hover:to-pdd-blue/90 hover:shadow-pdd-purple/50 text-white transition-all duration-300 hover:scale-105 hover:shadow-lg;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #06090c;
  color: #ffffff;
}

/* Cursor pointer for buttons */
button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}

/* Cursor pointer for links */
a:not(:disabled),
[role="link"]:not(:disabled) {
  cursor: pointer;
}
